.whiteboardContainer{
    perspective: 40rem;
    transform-style: preserve-3d;
    perspective-origin: 10 55%;
}

.whiteboard{
    position: absolute;
    right: 300px;
    top: 10px;
    background-color: whitesmoke;
    /* transform-origin: 0 50%; */
    transform: rotate3d(0.14, 1, -0.06, -18deg) rotateZ(-1deg) translateZ(-1rem);
    transform-origin: 50% 0;
    width: calc(3784px/5);
    height: calc(1772px/5);
    /* background-image: url('./assets/askMeAboutMoralisCropped.jpg'); */
    border: #39ff15 solid 1px;
    border-radius: 1em;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 4px rgba(223, 225, 237, 0.241);
    /* background: url('./assets/word.PNG'); */
    background-size: cover;
    background-position: 0%;
    margin-top: 15em;
    margin-left: 10rem;
    z-index: -1;
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    /* animation: fadeIn 500ms forwards; */
    /* animation: fadeIn 13s forwards, scrolling 12s 2s infinite alternate-reverse; */
}

object{
    overflow:hidden;  
    height:120vh; 
    position:relative; 
    top: -400px;
    left: -590px;
    /* left: -500px; */
    width: 100vw;
    transform: scale(0.3);
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scrolling{
    from{
        background-position: 0% 0%;
    }
    to{
        background-position: 0% 80%;
    }
}
