* {
    box-sizing: border-box;
    color: #FFFFFF;
  }
  
  body {
    font-size: 20px;
    background-color: #0b5eaa;
    perspective: 25rem;

  }
  
  .parent {
    width: 50%;
    display: inline-block;
    padding: .5em;
  }
  
  .parent.perspective {
    transform: rotate3d(0.14, 1, -0.06, -18deg) rotateZ(-1deg);

  }
  
  .child {
    margin: .5em;
    width: 1.5em;
    height: 1.5em;
    background: tomato;
    display: inline-block;
    border: 1px solid #00172c;
    box-shadow: 1px 1px 3px#0f75d2;
    border-radius: 3px;

  }
  
  .parent.perspective .child {
    background: #33414d;
  }
  
  .parent.transform .child {
    transform: perspective(50em) rotateX(50deg);
    background: deepskyblue;
  }
  
  h1 {
    font-size: 1em;
  }