body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    height: 100vh;
    background: #262626;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  svg {
    height: calc(90vmin - 100px);
    width: auto;
    font-size: 54px;
    font-weight: 700;
  }
  
  svg text {
    fill: white;
  }
  
  .buttonWrap {
    padding: 10px 0;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
  }