*{
    font-size: 16px;
    font-family: monospace;
    /* WHEN YOU SIT BACK DOWN FIGURE OUT WHY SETTING FONT ON BODY AND ON ROOT ARE DIFFERENT; */
}
body{
    background-color: whitesmoke;
    /* width: 100vw;
    height: 100vh;
    overflow-y: auto; */
}
.fullShaDesk{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
}
#bitsInput{
    text-align: center;
}
.cards{
    display: flex;
    flex-flow: column;
    border: black solid 4px;
    border-radius: 5px 18px;
    /* height: 400px; */
    justify-content: space-evenly;
    width: 60ch;
    /* padding: 2em 2em; */
    padding: .5em .8em;
    margin: 3em 3em;
}
.monoCard{
    /* copied and modded .cards, dry it up  */
    display: flex;
    flex-flow: column;
    border: black solid 4px;
    border-radius: 5px 18px;
    /* height: 400px; */
    justify-content: space-evenly;
    width: fit-content;
    /* padding: 2em 2em; */
    padding: .5em .8em;
    margin: 2em .4em;
}
.centeredCardTitle{
    margin: 0 auto;
    font-weight: 700;
}
.cardTitleLine{
    margin-bottom: .5rem;

    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: center;
    padding: 2px;
}
.card{
    
    display: flex;
    flex-flow: column;
    border: black solid 3px;
    border-radius: 5px;
    width: auto;
    align-self: center;
    padding: 10px;
    margin: 0.4em;
    background-color: rgb(162, 170, 237);
}
.sigmaIcon{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 65px;
    height: 65px;
    /* margin: auto 5px; */
    border: black solid 2px;
    border-radius: 6px;
}
.superscript, .choiceMaj{
    font-size: 0;
    color: black;
    display: flex;
}
.superscript p{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-left: 10%
}
.choiceMaj p{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    line-height: auto;
    margin: auto auto;
}
.subscript{
    font-size:px;
    color: black;
    align-self: flex-end;
    margin: 4px;
}
.colon{
    width: content;
    max-height: fit-content;
    font-size: 60px;
    line-height: 60px;
}
.transformationsList{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0.2rem;
    /* width: 32ch; */
}
.transRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.transformation{
    /* display: flex;
    flex-flow: column; */
}
.transformationName{
    /* display: inline; */
    font-size: 2rem;
    /* border: 2px black solid; */
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    /* align-self: flex-start; */
    margin-right: .3em;
    width: 68px;
}
.transformationName .transformationNameToken{
    align-self: flex-start;
}
.transformationName .transformationDegree{
    align-self: flex-end;
    color: black;
}
.transformationExample{
    /* display: inline; */
    align-self: flex-end;
    margin-right: 0.2em;
    width: 32ch;
}
.hiding{
    transition: all 3s;
    opacity: 0;
}
.iconAndListContainer{
    display: flex; 
}
.resultsCard{
    display: flex;
    border: black solid 1px;
    border-radius: 2px;
    justify-content: space-between;
    margin-top: .5em;
    padding-right: 0.2rem;

}
.resultsName{
    display: inline;
    margin: auto 0.2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    /* align-self: flex-end; */
}
.resultBits{
    align-self: flex-end;
    margin-right: 0.2em;
}
.updateResult{
    display: inline-block;
    width: fit-content;
    margin-right: 1em;
    align-self: flex-end;
}
.xorToken{
    align-self: stretch;
    border: 1px rgb(240, 228, 228) solid;
    width: max-content;
}
.xorToken span{
    display: inline-block;
    margin: 1px;
    background-color: black;
    border: solid 1px palevioletred;
    border-radius: 13%;
    font-size: 1.2rem;
    color: whitesmoke;
}

/* CONSTANTS */
.constantCard{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.constantCard .constantCardRow{
    display: flex;
    /* width: 40ch; */
    font-size: 10px;
    margin-left: 3px;
    line-height: 14.5px;
}
.constantIndexAndColon{
    display: flex;
    align-items: flex-start;
}
.constantIndexAndColon .colonSpan{
    display: inline-block;
    text-align: end;
}
.constantIndexAndColon .constantIndexNumber{
    align-self: flex-start;
    width: 5ch;
}
.constantCardRow .constantContents{
    width: 32ch;
    align-self: flex-end;
    margin-left: 4px;
    margin-top: 1px;
    color: black;

}

/* Message Schedue  */



















hr{
    border: black 2px solid;
    width: 100%;
    height: 1em;
    border-radius: 3px;
    background-color: whitesmoke;
}
.correctLength{
    color: black;
}
.incorrectLength{
    color: red;
}
.activeRowHighlight{
    box-sizing: border-box;
    border-radius: 3px;
    background-color: black;
    color: whitesmoke;
}