<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sha</title>
    <link rel="stylesheet" href="./uppercaseSigmaOne.css">
</head>

<body>
    <div class="cards">
        <div class="card">
            <div class="iconAndListContainer">
                <div class="sigmaIcon">
                    <div class="superscript">
                        <p>Σ</p>
                    </div>
                    <div class="subscript">
                        1
                    </div>
                </div>
                <div class="colon">:</div>
                <div class="rotationsList">
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName"><span class="nameLetters">ROTR</span><span
                                    class="nameNumbers">6:</span>
                            </div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName">
                                <span class="nameLetters">ROTR</span>
                                <span class="nameNumbers">11:</span>
                            </div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName"><span class="nameLetters">ROTR</span><span
                                    class="nameNumbers">25:</span></div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resultsCard" id="testHide">
                <span class="resultsName">Result:</span><span class="resultBits">10110100101001101010100101010110</span>
            </div>
            
        </div>
        <button class="updateResult">Update Result</button>

    </div>
    <script src="./uppercaseSigmaOne.js"></script>
</body>

</html>