*{
    font-size: 16px;
}

.cards{
    border: black solid 4px;
    display: flex;
    flex-flow: column;
    /* height: 400px; */
    justify-content: space-evenly;
    width: fit-content;
    /* padding: 2em 2em; */
    padding: .5em .8em;
    margin: 1em;

}
.card{
    display: flex;
    flex-flow: column;
    border: black solid 3px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    padding: 10px;
    margin: 0.4em;
    
}
.sigmaIcon{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 65px;
    height: 65px;
    /* margin: auto 5px; */
    border: black solid 2px;
    border-radius: 6px;
}
.superscript{
    font-size: 0;
    color: pink;
    display: flex;
}
.superscript p{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-left: 10%
}
.subscript{
    font-size:px;
    color: pink;
    align-self: flex-end;
    margin: 4px;
}
.colon{
    width: content;
    max-height: fit-content;
    font-size: 60px;
    line-height: 60px;
}
.transformationsList{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0.2rem;
    /* width: 32ch; */
}
.transRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.transformation{
    /* display: flex;
    flex-flow: column; */
}
.transformationName{
    /* display: inline; */
    font-size: 2rem;
    /* border: 2px black solid; */
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    /* align-self: flex-start; */
    margin-right: .3em;
    width: 68px;
}
.transformationName .transformationNameToken{
    align-self: flex-start;
}
.transformationName .transformationDegree{
    align-self: flex-end;
    color: black;
}
.transformationExample{
    /* display: inline; */
    align-self: flex-end;
    margin-right: 0.2em;
}

.hiding{
    transition: all 3s;
    opacity: 0;
}
.iconAndListContainer{
    display: flex; 
}
.resultsCard{
    display: flex;
    border: black solid 1px;
    border-radius: 2px;
    justify-content: space-between;
    margin-top: .5em;
    padding-right: 0.2rem;

}
.resultsName{
    display: inline;
    margin: auto 0.2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    /* align-self: flex-end; */
}
.resultBits{
    align-self: flex-end;
    margin-right: 0.2em;
}
.updateResult{
    display: inline-block;
    width: fit-content;
    margin-right: 1em;
    align-self: flex-end;
}
.xorToken{
    align-self: stretch;
    border: 1px rgb(240, 228, 228) solid;
    width: max-content;
}
.xorToken span{
    display: inline-block;
    margin: 1px;
    background-color: black;
    border: solid 1px palevioletred;
    border-radius: 13%;
    font-size: 1.2rem;
    color: whitesmoke;
    

}













.correctLength{
    color: black;
}
.incorrectLength{
    color: red;
}