.svg-container{
    /* viewBox: '0 0 300 300'; */
    /* box-sizing: border-box; */
    /* width: 100px;
    height: 37.5px; */
    width: 200px;
    height: 75px;
    overflow: hidden;
    /* border: solid pink 1px; */
    /* border-radius: 4px; */
}