<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sha</title>
    <link rel="stylesheet" href="./uppercaseSigmaOne.css">
</head>

<body>
    <div class="cards">
        <div class="card">
            <div class="sigmaIcon">
                <div class="superscript">
                    <p>Σ</p>
                </div>
                <div class="subscript">
                    1
                    <!-- <p>1</p> -->
                </div>
            </div>
            <div class="rotationsList">
                <div class="rotation">
                    <div class="rotationName"></div>
                    <div class="rotationExample"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="sigmaIcon">
                <div class="superscript">
                    <p>Σ</p>
                </div>
                <div class="subscript">
                    0
                    <!-- <p>1</p> -->
                </div>
            </div>
            <div class="rotationsList">
                <div class="rotation">
                    <div class="rotationName"></div>
                    <div class="rotationExample"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="sigmaIcon">
                <div class="superscript">
                    <p>σ</p>
                </div>
                <div class="subscript">
                    1
                    <!-- <p>1</p> -->
                </div>
            </div>
            <div class="rotationsList">
                <div class="rotation">
                    <div class="rotationName"></div>
                    <div class="rotationExample"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="sigmaIcon">
                <div class="superscript">
                    <p>σ</p>
                </div>
                <div class="subscript">
                    0
                    <!-- <p>1</p> -->
                </div>
            </div>
            <div class="rotationsList">
                <div class="rotation">
                    <div class="rotationName"></div>
                    <div class="rotationExample"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>