*{
    font-size: 16px;
}
.cards{
    border: black solid 4px;
    display: flex;
    flex-flow: column;
    /* height: 400px; */
    justify-content: space-evenly;
    width: fit-content;
    /* padding: 2em 2em; */
    padding: .5em .8em;
    margin: 1em;

}
.card{
    display: flex;
    flex-flow: column;
    border: black solid 3px;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    padding: 10px;
    margin: 0.4em;
    
}
.sigmaIcon{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 65px;
    height: 65px;
    /* margin: auto 5px; */
    border: black solid 2px;
    border-radius: 6px;
}
.superscript{
    font-size: 0;
    color: pink;
    display: flex;
}
.superscript p{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-left: 10%
}
.subscript{
    font-size:px;
    color: pink;
    align-self: flex-end;
    margin: 4px;
}
.colon{
    width: content;
    max-height: fit-content;
    font-size: 60px;
    line-height: 60px;
}
.rotationsList{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 3px;
    padding: 0.2rem;
}
.rotRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.rotation{
    /* display: flex;
    flex-flow: column; */
}
.rotationName{
    /* display: inline; */
    font-size: 2rem;
    /* border: 2px black solid; */
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    /* align-self: flex-start; */
    margin-right: .3em;
    width: 68px;
}
.rotationName .nameLetters{
    align-self: flex-start;
}
.rotationName .nameNumbers{
    align-self: flex-end;
}
.rotationExample{
    /* display: inline; */
    align-self: flex-end;
    margin-right: 0.2em;
}

.hiding{
    transition: all 3s;
    opacity: 0;
}
.iconAndListContainer{
    display: flex; 
}
.resultsCard{
    display: flex;
    border: black solid 1px;
    border-radius: 2px;
    justify-content: space-between;
    margin-top: .5em;
    padding-right: 0.2rem;

}
.resultsName{
    display: inline;
    margin-left: 0.2em;
    font-size: 1.1rem;
    text-transform: uppercase;
    /* align-self: flex-end; */
}
.resultBits{
    align-self: flex-end;
    margin-right: 0.2em;
}
button{
    width: 200px;
    margin-right: 300px;
}