<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sha</title>
    <link rel="stylesheet" href="./uppercaseSigmaOne.css">
</head>

<body>
    <div class="cards">
        <div class="card">
            <div class="iconAndListContainer">
                <div class="sigmaIcon">
                    <div class="superscript">
                        <p>Σ</p>
                    </div>
                    <div class="subscript">
                        1
                    </div>
                </div>
                <div class="colon">:</div>
                <div class="rotationsList">
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName"><span class="nameLetters">ROTR</span><span
                                    class="nameNumbers">6:</span></div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName"><span class="nameLetters">ROTR</span><span
                                    class="nameNumbers">11:</span></div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                    <div class="rotation">
                        <div class="rotRow">
                            <div class="rotationName"><span class="nameLetters">ROTR</span><span
                                    class="nameNumbers">25:</span></div>
                            <div class="rotationExample">10110100101001101010100101010110</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="result">00000000000000000000</div>
    </div>
    <div class="card">
        <div class="sigmaIcon">
            <div class="superscript">
                <p>Σ</p>
            </div>
            <div class="subscript">
                0
                <!-- <p>1</p> -->
            </div>
        </div>
        <div class="colon">:</div>
        <div class="rotationsList">
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">2:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">13:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">22:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="sigmaIcon">
            <div class="superscript">
                <p>σ</p>
            </div>
            <div class="subscript">
                1
                <!-- <p>1</p> -->
            </div>
        </div>
        <div class="colon">:</div>
        <div class="rotationsList">
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">17:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">19:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">SHR</span><span class="nameNumbers">10:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="sigmaIcon">
            <div class="superscript">
                <p>σ</p>
            </div>
            <div class="subscript">
                0
            </div>
        </div>
        <div class="colon">:</div>
        <div class="rotationsList">
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">7:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">ROTR</span><span class="nameNumbers">18:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
            <div class="rotation">
                <div class="rotRow">
                    <div class="rotationName"><span class="nameLetters">SHR</span><span class="nameNumbers">3:</span>
                    </div>
                    <div class="rotationExample">10110100101001101010100101010110</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>

    <!-- WHEN YOU SIT BACK DOWN, SORT OUT THAT CSS MESS  -->