* {
    box-sizing: border-box;
    --die-width: 100px;
    --trans-amount: calc(var(--die-width)/2);
}

.die {
    /* flex-basis: ; */
    margin: 5em;
    animation: roll 4s ease-in-out forwards;
    /*  */
    transform-origin: var(--trans-amount) var(--trans-amount) var(--trans-amount);
    transform-style: preserve-3d;
    transform: translateZ(var(--trans-amount));
}
[href="#triangle"] {
    transform: translateY(-5px);
}

[href="#triangle"]+[href*='#dots-'] {
    transform: scale(0.65) translateX(55px) translateY(70px);
}
.die-face {
    position: absolute;
    background-color: rgb(241, 227, 227);
    border-radius: 3px;
    /* width: var(--die-width);
    height: var(--die-width); */
    width: 200px;
    height: 200px;
    border: 1px solid #403737;
    line-height: 2em;
    transform-style: preserve-3d;
    user-select: none;
}

.die-face:hover {
    cursor: default;
    transition: background-color 0.5s;
    background-color: azure;
}
.die-face:nth-child(1) {
    transform: translateZ(var(--trans-amount));
}

.die-face:nth-child(6) {
    transform: rotateY(90deg) translateZ(var(--trans-amount));
}

.die-face:nth-child(3) {
    transform: rotateY(-90deg) translateZ(var(--trans-amount));
}

.die-face:nth-child(4) {
    transform: rotateX(90deg) translateZ(var(--trans-amount));
}

.die-face:nth-child(5) {
    transform: rotateX(-90deg) translateZ(var(--trans-amount));
}

.die-face:nth-child(2) {
    transform: rotateY(-180deg) translateZ(var(--trans-amount));
}