.dice-container {
    /* transform: rotateX(43deg); */
    transform-origin: bottom;
    /* margin: auto; */
    display: flex;
    /* width: 45vw; */
    flex: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: inherit;
    /* height: calc(var(--die-width)*1.5); */
    height: calc(100vh/8);
    border: black solid 2px;
    margin: 1em;
    background-color: rgba(64, 46, 46, 0.5);
    overflow-x: noscroll;
    /* transform: translateY(var(--trans-amount)); */
}