.svg-defs, .svg-defs > svg{
    display: block;
    width: 0px;
    height: 0px;
}
[href="#triangle"] {
    transform: translateY(-5px);
}

[href="#triangle"]+[href*='#dots-'] {
    transform: scale(0.65) translateX(55px) translateY(70px);
}