#click_for_jokes{
    width:12em;
    height: 3em;
    border-radius: .4em;
}
.jokes{
    display: flex;
    flex-wrap: wrap;

}
.joke{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 700;
    width: 10em;
    border: 4px solid red;
    border-radius: .4em;
    margin: 1em;
    list-style-type: none;
    padding: .4em;
    animation: fadeIn 2s;

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}