FORM{
    display: grid;
    width: auto;
    height: auto;
    grid-template: 10fr/10fr;
    grid-gap: 10px;
}
#field-set-2{
    width: auto;
    height: auto;
    border-color: black;
    border-radius: 10px;
    border-width: 10px;
    grid-area: 1/1/2/2;
}