<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>










    <script>
        Promise.prototype.delay = function delay(delayTime, v, functo) {
            return new Promise(function (resolve) {
                setTimeout(resolve.bind(null, v), delayTime)
            });
        }

        function functo(){
            let newButton = document.createElement('button');
            newButton.innerHTML = 'Im a button';
            document.body.appendChild(newButton);
        }

        makeAndActPromise = Promise.delay(4000, '200', functo);

    </script>
</body>

</html>