.table {
    width: 400px;
    height: 300px;
    border: solid black 4px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.rotAndBitEntry{
    padding: 4px;
    border: solid black 2px;
    border-radius: 4px;
    width: 32ch;
}
.bitsInput{
    width: 400px;
    margin-top: 1em;
}
.bidDisplay{
    min-width: 32ch;
}
.correctLength{
    color: black;
}
.incorrectLength{
    color: red;
}