<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Update Button</title>
    <link rel="stylesheet" href="./testUpdateButton.css">
</head>

<body>
    <div class="table">
        <div class="rotAndBitEntry">
            <div class="rotationNameAndNumber">
                <span class="name">ROTR</span><span class="number">13</span>
            </div>
            <div class="inputBits">
                <span class="bitDisplay">00000000000000000000000000000000</span>
            </div>
        </div>
        <div class="rotAndBitEntry">
            <div class="rotationNameAndNumber">
                <span class="name">ROTR</span><span class="number">2</span>
            </div>
            <div class="inputBits">
                <span class="bitDisplay">00000000000000000000000000000000</span>
            </div>
        </div>
        <div class="rotAndBitEntry">
            <div class="rotationNameAndNumber">
                <span class="name">SHR</span><span class="number">23</span>
            </div>
            <div class="inputBits">
                <span class="bitDisplay">00000000000000000000000000000000</span>
            </div>
        </div>
    </div>
    <input type="text" class="bitsInput" id="bitsInput" value="00000000111111111100000000111111">
    <button type="button" onclick="handleRotateWords(300)">Transform Words</button>

    <script src="./tub2.js"></script>

    <script src="./inputLengthValidation.js"></script>
</body>

</html>