#master-div{
    display: flex;
    flex-wrap: wrap;
}

[id*="fade-transform"]{
    opacity: 1;
}

/*[id*="fade-transform"] */.fade-in{
    opacity: 1;
}

[id*='index-']{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 5%;
    background-color: red;
    margin: 20px;
    opacity: 1s;
    transition: border-radius 0.5s;
}
[id*='index-']:hover{
    border-radius: 50%;
    opacity: 1;
}